.meUl li p {
    /*font-size: 13px;*/
    /*color: #444;*/
    margin-bottom: 0px;
    vertical-align: top;
}

.meUl li {
    /*font-size: 13px;
    line-height: 16px;*/
}

.meButtonBase {
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    height: 31px;
    line-height: 31px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    cursor: pointer;
}


    .meButtonBase:hover {
    }

    .meButtonBase:active {
        position: relative;
        top: 1px;
    }

.meButton {
    text-transform: uppercase;
    color: white;
    width: 450px;
    height: 40px;
    font-size: 16px;
    padding-top: 10px;
}


.meLoginButton {
    text-transform: uppercase;
    color: white;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding-top: 6px;
    width: 220px;
}

.meAboutButton {
    background-color: #f6792a;
    float: right;
    width: 450px;
}


.meRegisterButton {
    background-color: #808080;
    float: left;
    width: 450px;
}

.meStartAgainButton {
    background-color: #F6792A;
    color: #000000;
    width: 100px;
}

.meYellowButton {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #f6792a) );
    background: -moz-linear-gradient( center top, #ffc477 5%, #f6792a 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#f6792a');
    background-color: #f6792a;
}

    .meYellowButton:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6792a), color-stop(1, #ffc477) );
        background: -moz-linear-gradient( center top, #f6792a 5%, #ffc477 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6792a', endColorstr='#ffc477');
        background-color: #fb9e25;
    }

.meGreenButton {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00eb00), color-stop(1, #007600) );
    background: -moz-linear-gradient( center top, #00eb00 5%, #007600 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eb00', endColorstr='#007600');
    background-color: #007600;
}

    .meGreenButton:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007600), color-stop(1, #00eb00) );
        background: -moz-linear-gradient( center top, #007600 5%, #00eb00 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007600', endColorstr='#00eb00');
        background-color: #009d00;
    }

.meGreyButton {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cecece), color-stop(1, #808080) );
    background: -moz-linear-gradient( center top, #cecece 5%, #808080 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#808080');
    background-color: #808080;
    float: left;
    color: black;
}

    .meGreyButton:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #808080), color-stop(1, #cecece) );
        background: -moz-linear-gradient( center top, #808080 5%, #cecece 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#cecece');
        background-color: #9a9a9a;
        float: left;
        color: black;
    }

.ec-button-big {
}

.ec-button-small {
    font-size: 13px;
    height: 20px;
    line-height: normal;
    width: 70px;
    color: #000000;
}

.meDialog {
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-color: transparent ;
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
    border: medium none ;
    position: absolute;
}

    .meDialog .ui-widget-header /*,.meLogin .ui-dialog .ui-dialog-content*/
    /*.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .meLogin .ui-draggable >  .meLogin .ui-dialog .ui-dialog-content*/ {
        background: #FFF;
        /*color: #F37938;*/
        font: 14px Arial,Helvetica,sans-serif;
        border: none;
        border-radius: 4px 4px 0 0;
    }

    .meDialog .ui-widget-content {
        /*background: url("/_layouts/EIG/Images/Default/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
        background-attachment: scroll;
        /*background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-color: #2a3135;
        height: auto;
        width: auto;
        color: whitesmoke;
        font: 14px Arial,Helvetica,sans-serif;
        border: none;
        padding: 0px;
        margin: 0px;
    }

        .meDialog .ui-widget-content a {
            color: #F5F5F5;
            font-weight: bold;
        }

    .meDialog .ui-dialog-titlebar-close {
        background-color: #FFFFFF;
        border-radius: 9px;
        margin: -49px -15px 0;
    }

.ce-login-field-container {
    margin: 15px 0 10px 10px;
    overflow: hidden;
}


.meDialog .ui-dialog-title {
    /*padding:3px 0 3px 10px;*/
    float: none;
}

/*.meDialog .ui-icon.ui-icon-closethick {
        background: url("/_layouts/EIG/Images/close_ico.jpg") no-repeat 2px 1px transparent;
    }*/


.ui-widget-overlay {
    background-color: #000000;
    left: 0;
    opacity: 0.5!important;
	filter: Alpha(Opacity=50);
    position: fixed;
    top: 0;
}


.dialog-logo-right {
    background-image: url('/_layouts/eig/images/EC_Logo_Small.png');
    float: right;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 59px;
    width: 260px;
    /*height: 76px;
    width: 331px;*/
    margin-bottom: 5px;    
}
.weo-logo {
    background-image: url('/_layouts/eig/images/WEO_header.jpg');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 59px;
    width: 450px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='/_layouts/eig/images/WEO_header.jpg',
      sizingMethod='scale');
}

.dialog-logo-left {
    background-image: url('/_layouts/eig/images/eiglogo.gif');
    float: left;
    width: 180px;
    height: 55px;
    margin: 6px 0;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.field {
    margin-top: 5px;
    width: 217px;
    color: black;
    font-weight: bold;
    font-size: 14px !important;
    background-color: white;
    height: 22px;
}
