.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 7px;
}

.series {
    opacity: 0.3;
}

    .series:hover {
        opacity: 1;
    }

.gmrChart {
    width: 600px;
     margin: 25px auto;
    padding: 30px;
    border: black 1px solid;
     max-height:inherit !important;
}

    .gmrChart .chart-title {
        font: bold 20px sans-serif;
        text-align: center;
        width: 600px;
    }

    .gmrChart .c3-line {
        stroke-width: 3px;
    }

div[data-charttype="future-contracts"] .gmrChart .c3-line {
    stroke-width: 5px;
    stroke-opacity: 0.5;
}


.chart-headline {
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 2px 0 0 0;
    font-weight: normal;
    color: #1e63c8;
    Text-Align: left;
    font-size: 18px !important;
    padding: 0px 0 0px 0px;
        border-top: 1px solid #ccc;
}
       
.chart-footnote {
   font-style:italic;
   text-align: center;
}
    
@media print {
    .gmrChart {
   
        page-break-inside:avoid;
    }
}

.download-data-chart {
    float: left;
}

.download-data-chart > a {
    text-decoration: none;
}

/*-------WEATHER------------------------------*/

#weatherWrapper {
    padding: 10px 0px;
 } 

#weatherHeader {
    width: 600px;
    height: 43px;
    padding: 0;
    background-color: #eee;
    border: 1px solid #888;
}

#weatherMap {
    height: 400px;
    width: 600px;
    border: 1px solid #888;
}

#weatherMapWrapper {
    margin: 0 auto;
    width: 600px;
}

#divDegreeDaysBarChart {
    margin: 50px auto 0px;
    width: 600px;
}

div[data-maptype="northeast_region"] {
    display: inline-block;
    padding-right: 1%;
    height: 410px;
    width: 46%;
    margin-top:20px;
}

div[data-maptype="southeast_region"] {
    display: inline-block;
    height: 410px;
    width: 52%;
}

.region-label {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.gate-label {
    text-decoration: none;
    color: black;
    font-size: 11pt;
    font-weight: bold;
    text-shadow: white 0.2em 0.2em 0.2em;
}

#dropdown-wrapper {
    padding: 10px;
}

#weatherDegrees {
    margin-top: 30px;
}

@media print {
    div[data-type='map']
    {
        page-break-inside:avoid;
    }
    .download-data-table a{
        display:none;
    }
    .download-data-chart a{
        display:none;
    }
    .dataTables_wrapper table.dataTable.display tbody tr:first-child td {
        border-top: #000 solid 1px;
    }

    .dataTables_wrapper table.dataTable.display tbody tr:last-child td {
        border-bottom: #000 solid 1px;
    }
}


/*---------------------TABLES---------------------*/

.table-footnotes {
   font-style: italic;
   text-align: left;
   margin-top: 5px;
}

.table-header {
    font: bold 20px sans-serif;
    text-align: center;
}

.table-body {
    margin: 10px 0px;
}

.dataTables_wrapper .group {
    background-color: #ddd !important;
    font-weight: 700;
}
.dataTables_wrapper thead th {
     text-align: center !important;
}

.download-data-table {
    float: right;
    margin-bottom : 5px;
}

.download-data-table > a {
    text-decoration: none;
}
.dataTables_wrapper table {
    width: 100% !important;
}
table.dataTable tbody th, table.dataTable tbody td
{ padding: 5px 10px; } 