/*=====================================================================
 * File                    : Theme_Default.css
 * Created Date            : 16-Dec-2009
 * Last Updated By         :
 * Last Updated Date       : Vinodkumar.R
 * Description             : Site Default Theme
 * Type					   : Stylesheet
 * -------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------
											[DEFAULT]
------------------------------------------------------------------------------------------------*/
.EIG_BG,body{background:transparent url('../../EIG/Images/Default/bg.jpg') repeat scroll 0 0}
.head_logo{background:url('/weo-resources/eig-logo.gif') no-repeat scroll 0 0; height:64px; width:240px; margin:0 /*7px 0px 0px 7px;*/ }
.tkr_down{background:transparent url('../../EIG/Images/down.gif') no-repeat scroll center top}
.tkr_pause{background:transparent url('../../EIG/Images/pause.gif') no-repeat scroll 0 0}
.tkr_play{background:transparent url('../../EIG/Images/play.gif') no-repeat scroll 0 0}
.tkr_stock_down{background:transparent url('../../EIG/Images/stk_down.jpg') no-repeat scroll center top}
.tkr_stock_up{background:transparent url('../../EIG/Images/stk_up.jpg') no-repeat scroll center top}
.tkr_up{background:transparent url('../../EIG/Images/up.gif') no-repeat scroll center top}
#footer,#footer a{color:#FFF}
/*#header{background:url(../../EIG/Images/Default/nav-bg.png) no-repeat}*/
#ticker{background:url(../../EIG/Images/Default/ticker-bg.png) no-repeat}
/*------[Headlines/ Futures/ Date/ Login/ Welcome message]------*/
.titles{color:#F47937; font-family:Arial,Helvetica, sans-serif; font-size:12px;font-weight:bold;}
/*------[email/ password/ Search/]------*/
.copy{color:#53595d;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
.ticker{font-family:Arial,Helvetica, sans-serif;color:#FFFFFF;font-size:12px;font-weight:bold;}
/*------[Ticker Images]------*/
.C2_Header_copy{color:#969696;font:12px Arial,Helvetica,sans-serif}
.login{background:#293134;border:1px solid #454648;color:#969696;font:12px Arial,Helvetica,sans-serif;height:19px;padding-left:5px;width:130px}
.login_btn{-khtml-user-select:none;-moz-user-select:none;background:transparent url('../../EIG/Images/login.gif') no-repeat scroll center top;height:10px;user-select:none;width:36px}
.logout_btn
{
/*    -khtml-user-select:none;
    -moz-user-select:none;
    background:transparent url('../../EIG/Images/logout.gif') no-repeat scroll center top;*/
    height:11px;
    /*user-select:none;*/
    width:53px;
    cursor: pointer;
    float: left;
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
    color: #b9b9b9;
    margin-top: 5px;
    background-image:url('/_layouts/EIG/Images/logout.gif');
}
.SearchBG{background:#293134;border:1px solid #454648;color:#969696;font:bold 12px Helvetica,sans-serif;margin-right:-12px;padding-left:5px}
.Editbar_Close{background:transparent url('../../EIG/Images/Default/cp_close.gif') no-repeat scroll right top;height:14px;width:14px}
.portlet_Off,.BlackBG,.closed_portlet{background:#242C2F !important;color:#bbbfc0;font:12px Helvetica,sans-serif;text-transform:uppercase}
.sprite-stream{background-image:url('../../EIG/Images/InfoStreamTabs/infostream_default.jpg');cursor:pointer;height:44px;width:160px;}
ul#topnav li span{background: url('../../EIG/Images/Default/default-submenutile.gif')0 0 repeat-x !important;border-left:1px solid #000;border-right:1px solid #000;width:957px !important}
ul#navBar,ul#navBar a:hover,ul#navBar li,ul#navBar li a,ul#navBar li:hover,ul#navBar li hover,ul#navBar li span,ul#navBar li:hover span,ul#navBar li span a,ul#navBar li span a:hover{background:url(../../EIG/Images/topnav_bg.jpg) repeat-x}
ul#topnav li a#newtt:hover,ul#topnav li a#newttr:hover{color:#F47937}
/*------[Rounded Corner - Edit Bar]------*/
.close_b{background:url('../../EIG/Images/EditBar/blk_bot.jpg') 0 100% repeat-x}
.close_bl{background:url('../../EIG/Images/EditBar/blk_b_l.jpg') 0 100% no-repeat}
.close_bl_ovr{background:url('../../EIG/Images/EditBar/blk_b_l_ovr.jpg') 0 100% no-repeat}
.close_br{background:url('../../EIG/Images/EditBar/blk_b_r.jpg') 100% 100% no-repeat}
.close_br_ovr{background:url('../../EIG/Images/EditBar/blk_b_r_ovr.jpg') 100% 100% no-repeat}
.close_b_ovr{background:url('../../EIG/Images/EditBar/blk_bot_ovr.jpg') 0 100% repeat-x}
.close_l{background:url('../../EIG/Images/EditBar/blk_left.jpg') 0 0 repeat-y}
.close_r{background:url('../../EIG/Images/EditBar/blk_right.jpg') 100% 0 repeat-y}
.close_r_ovr{background:url('../../EIG/Images/EditBar/blk_r_ovr.jpg') 100% 0 repeat-y}
.close_t{background:url('../../EIG/Images/EditBar/blk_top.jpg') 0 0 repeat-x}
.close_tl{background:url('../../EIG/Images/EditBar/blk_t_l.jpg') 0 0 no-repeat}
.close_tl_ovr{background:url('../../EIG/Images/EditBar/blk_t_l_ovr.jpg') 0 0 no-repeat}
.close_tr{background:url('../../EIG/Images/EditBar/blk_t_r.jpg') 100% 0 no-repeat;padding-left:10px;padding-right:10px}
.close_tr_ovr{background:url('../../EIG/Images/EditBar/blk_t_r_ovr.jpg') 100% 0 no-repeat;padding-left:10px;padding-right:10px}
.close_t_ovr,.close_l_ovr{}
/*-----------------------------------------------------------------
					EI SAFARI TEST
------------------------------------------------------------------*/
.ei-safari-advt-mainbotdiv-left{float:left;width:310px}
.ei-safari-advt-mainbotdiv-right{float:right;width:640px}
.ei-safari-test-left1{background:url(../../EIG/Images/img-curvetop-left.gif) no-repeat;height:35px;width:312px}
.ei-safari-test-left2{background:url(img-curvetile-left.gif) repeat-y;width:312px}
.ei-safari-test-left3{background:url(img-curvebot-left.gif) no-repeat;height:9px;width:312px}
.ei-safari-test-right1{background:url(img-curvetop-right.gif) no-repeat;height:35px;width:642px}
.ei-safari-test-right2{background:url(img-curvetile-right.gif) repeat-y;width:642px}
.ei-safari-test-right3{background:url(img-curvebot-right.gif) no-repeat;height:9px;width:642px}
#ei-safari-advt-mainbotdiv{padding-top:20px;width:972px}
#ei-safari-test,#ei-safari-test-maintopdiv{width:972px}
#ei-safari-test-left{float:left;width:312px}
#ei-safari-test-lefttopdiv,#ei-safari-test-leftbotdiv{width:312px}
#ei-safari-test-right{float:right;width:642px}
